@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  font-family: "IBM Plex Sans", "Avenir Next", "Segoe UI", sans-serif;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background: #020617;
}

* {
  box-sizing: border-box;
}
